*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face { font-family: 'Roboto-Regular'; src: url('fonts/Roboto-Regular.eot?#iefix')
format('embedded-opentype'), url('fonts/Roboto-Regular.woff') format('woff'),
url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg#Roboto-Regular')
format('svg'); font-weight: normal; font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Roboto-Regular;
  color: #000;
  background-size: cover;
}
a:focus, button::-moz-focus-inner{
  outline: 0;
  border: 0;
}
button:focus {
  outline: 0;
}
img {
  width: 100%;
  height: auto;
}
.menu-wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
  .menu-wrapper {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .menu-wrapper {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .menu-wrapper {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .menu-wrapper {
    max-width: 1140px;
  }
}
#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 10;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  transition: all .7s;
}
.sticky {
  padding: 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.81);;
}
.logo {
    width: 134px;
    float: right;
}
.toggle {
  padding-top: 7px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
  position: relative;
  z-index: 2;
  border: 0;
  background: transparent;
}
.toggle span {
	width: 100%;
	height: 1px;
	background-color: #fff;
	display: block;
	margin-bottom: 10px;
	transition: .4s;
}
.toggle span:nth-child(2) {
	width: 50%;
}
.toggle span:last-child {
	margin-bottom: 4px;
  width: 80%;
}
.toggle.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 9px;
  left: 0px;
  width: 100%;
}
.toggle.open span:nth-child(2) {
  opacity: 0;
  width: 50%;

}
.toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: .4s;
  position: relative;
  top: -11px;
  left: 0px;
  width: 100%;
}
.menu {
  display: flex;
  visibility: hidden;
  position: fixed;
  background: rgba(41, 43, 45, .9);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  opacity: 0;
  align-items: center;
  z-index: 0;
}
.menu.active {
  visibility: visible;
  opacity: 1;
}
.innermenu.active {
  -webkit-transform: translateX(0%) rotateX(0deg);
  transform: translateX(0%) rotateX(0deg);
  -o-transform: translateX(0%) rotateX(0deg);
  -moz-transform: translateX(0%) rotateX(0deg);
  -ms-transform: translateX(0%) rotateX(0deg);
  opacity: 1;
}
.innermenu {
  width: 100%;
  overflow: auto;
  padding: 40px 20px;
  max-height: 100%;
  -webkit-transform: translateX(-25%) rotateX(35deg);
  -o-transform: translateX(-25%) rotateX(35deg);
  -moz-transform: translateX(-25%) rotateX(35deg);
  -ms-transform: translateX(-25%) rotateX(35deg);
  transform: translateX(-25%) rotateX(35deg);
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  color: #fff;
  padding: 3px 30px;
  margin: 12px 0;
  display: inline-block;
  letter-spacing: 4px;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}
.menu ul li a:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}
.banner {
  background: url('dark.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
